table {
  width: 350px;
  margin: 50px auto;
  box-shadow: 5px 5px 10px #628ca6;
  border: 2px solid #b0b9be ;
  border-collapse: collapse;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

thead tr:nth-child(1), tfoot {
  background-color: #7fb9c2;
}

thead tr:nth-child(1){
  padding: 10px;
  font-size: 2rem;
  border: 2px solid #b0b9be;
}

thead tr:nth-child(2){
  padding: 8px;
  font-size: 1.4rem;
  border: 2px solid #b0b9be;
  /* color: white; */
}

td{
  padding: 6px;
  font-size: 1.2rem;
  border: 2px solid #b0b9be;
}
tbody tr:nth-child(3), tr:nth-child(5), tr:nth-child(7){
  /* background-color: #e7ffed ; */
}
tbody tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
  /* background-color: #e7f0ed ; */
}

/* tbody tr:nth-child(5) td:nth-child(3) {
  background-color: #628ca6;
  color: white;
} */



