@media only screen and (min-width: 32.5em) {
  .contentbox {
    background-color: #bed;
  }

  .navigation {
    display: flex;
  }

  .navigation > li {
    display: block;
    /* change state in small view */
    flex: 1 1;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .headings h1{
    text-align: center;
  }

  footer {
    font-size: 12px;
    padding: 20px;
  }
}
