/* ----- tablet view (36 em) -------------------------- */
@media only screen and (min-width: 36em) {
  :root {
    --h-text: "Source Code Pro", monospace;
    --t-text: "Montserrat", sans-serif;
    --text-color: black;
    --text-color-2: white;
    --accent-color: #E3F2FD;
    --accent-color-wheat: wheat;
    --bg-1: #173753;
    --bg-2: #d7816a;
  }

  th {
    font-family: var(--t-text);
    font-size: 16px;
    background-color: var(--accent-color-wheat);
    color: var(--bg-2);
    padding: 5px;
  }

  .forecast {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }

  .weather-summary {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 20px;
    margin-top: 0;
    background-color: thistle;
  }

  /* .forecast-table {
      margin: 0 auto;
      margin-top: 8px;
      width: 500px;
      border: 1px solid var(--accent-color-wheat);
  }

  .forecast-info span {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 8px;
  } */

  .map {
    min-width: 50%;
  }

  .map iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .quill-hide {
    display: block;
  }

  .input-section {
    flex-direction: row;
    padding: 8px;
    font-family: var(--t-text);
    margin: 0 auto;
    max-width: 500px;
  }

  .input-section label {
    width: 180px;
    padding: 8px;
  }

  .input-section input {
    width: 100%;
  }

  .input-section textarea {
    width: 100%;
  }

  .input-section select {
    width: 100%;
  }

  .fs-sec {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  #storm-r-value {
    width: 40px;
  }

  #storm-r {
    width: 450px;
  }
}