:root {
  --h-text: "Source Code Pro", monospace;
  --t-text: "Montserrat", sans-serif;
  --text-color: black;
  --text-color-2: white;
  --accent-color: #E3F2FD;
  --accent-color-wheat: wheat;
  --bg-1: #173753;
  --bg-2: #d7816a;
}

* {
  box-sizing: border-box;
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 20%;
  background: var(--bg-1);
  margin-top: -4px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--h-text);
  letter-spacing: 0.15em;
}

header,
footer {
  min-height: 80px;
  background-color: var(--bg-1);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

#h-text {
  color: var(--text-color-2);
}

footer {
  padding: 14px;
  min-height: 4em;
  font-size: 0.85em;
  line-height: 1.6em;
  font-size: 16px;
  text-align: center;
  color: var(--text-color-2);
  font-family: var(--t-text);
}

nav {
  background-color: var(--bg-2);
  font-family: var(--t-text);
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* check padding for li a  */
nav ul li a {
  display: block;
  padding: 0.8rem 2%;  
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  letter-spacing: 0.12em;
}

nav ul li.active a {
  background-color: var(--bg-2); 
  color: black;
  font-weight: 700;
}

nav ul li a:hover {
  color: black;
  background-color: #e3f2fd;
}

td, 
th {
  padding: 3px;
}

.button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: var(--text-color);
}

.page-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

.full-width {
  max-width: 760px;
  margin: 0 auto;
}

.full-width-gallery {
  max-width: 960px;
  margin: 0 auto;
}

.gallery-image {
  margin: 5px;
  filter: drop-shadow(0 0 0.1rem #000);
  background-color: #fff;
}

.gallery-cap {
  background-color: #fff;
  text-align: center;
  font-family: var(--t-text);
  padding: 8px;
}

.gallery-footer {
  margin-top: 40px;
}

.banner {
  width: 100%;
  background-color: var(--accent-color-wheat);
  color: black;
  font-family: var(--t-text);
  padding: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 1.4em;
}

.forecast {
  display: none;
}

.hero-img {
  position: relative;
}

.hero-img img {
  width: 100%;
  object-fit: contain;
}

.ws-table {
  font-family: var(--t-text);
  color: var(--bg-2);
  margin: 0 auto;
}

.title-data {
  width: 50%;
  text-align: right;
}

.sum-data {
  width: 50%;
  padding-left: 5px;
  color: white;
}

.ws-h3 {
  border-bottom: 1px solid var(--bg-2);
  font-family: var(--h-text);
  color: var(--bg-2);
  padding: 6px;
  text-align: center;
  margin-bottom: 4px;
}

.weather-summary {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: var(--accent-color-wheat);
  z-index: 2;
}

.article-sec {
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: var(--bg-2);
  margin: 0 auto;
  margin-top: 25px;
  border-left: 5px solid var(--accent-color-wheat);
}

.article-sec img {
  width: 100%;
  object-fit: contain;
}

.article-sec h2 {
  padding-top: 10px;
}

.article-sec p {
  line-height: 1.2em;
  padding-bottom: 4px;
  max-width: 550px;
  font-size: 17px;
  font-family: var(--t-text);
}

.map iframe {
  display: none;
}

.address-sec {
  display: flex;
  min-height: 230px;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 0;
  background-color: var(--accent-color-wheat);
  color: var(--bg-1);
}
.contact {
  width: 100%;
  display: block;
}

.contact-inner {
  width: 180px;
  display: block;
  margin: 20px auto 0 auto;
}

.social {
  font-size: 22px;
}

.address h2 {
  margin-bottom: 4px;
}

.quill {
  width: 100%;
  padding: 20px 0 20px 0;
  color: var(--accent-color-wheat);
  display: flex;
  justify-content: space-evenly;
}

.quill-q {
  text-align: center;
}

.quill-hide {
  display: none;
}

.modal {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 99;
}

.modal-inner {
  margin: 80px auto auto auto;
  background-color: var(--accent-color-wheat);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  font-family: var(--t-text);
  padding-bottom: 30px;
  border-radius: 8px;
}

.modal-title {
  width: 300px;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.close-modal i {
  padding: 15px 20px 10px 10px;
  cursor: pointer;
  
}

.modal-title {
  padding: 0 10px 25px 10px;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 1.4em;
  font-family: var(--h-text);
  font-size: 20px;
}

.description-text {
  font-family: var(--t-text);
  letter-spacing: 0.1em;
  padding: 0 20px 0 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.green {
  color: lightgreen;
}

.red {
  color: rgb(245, 90, 90);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery-image picture a img {
  width: 300px;
  height: 300px;
}

@keyframes fadeIn {
  from {opacity: 0;
  }
  to {opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-family: var(--t-text);
}

.input-section input {
  padding: 0px;
}

.input-section label {
  margin-bottom: 4px;
}

.storm-form {
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--bg-2);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.submit {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: var(--bg-1);
  color: white;
  
}

.submit-div {
  max-width: 180px;
  margin: 0 auto;
}

.fs-sec {
  margin: 10px;
  padding: 12px;
  border: 1px dotted var(--accent-color-wheat);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.thank-you-message {
  text-align: center;
  color: black;
  font-size: 18px;
  background-color: var(--accent-color-wheat);
  padding: 34px;
  line-height: 1.4em;
  font-family: var(--t-text);
}

#storm-r-value {
  text-align: center;
  font-weight: 800;
  width: 100%;
  padding-top: 12px;
}

#storm-r-label {
  margin-bottom: 8px;
}

#modal-name-input {
  padding: 8px;
  margin: 25px auto;
}

#tag-line {
  font-family: var(--h-text);
  display: flex;
  color: var(--text-color-2);
  margin-top: 10px;
  margin-bottom: 10px;
}

#h-logo {
  display: flex;
  /* max-width: 320px; */
}

#h-text {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h-logo img {
  width: 100px;
  margin: auto;
}

#header-text {
  display: none;
  font-family: var(--h-text)
}

#current-year {
  color: var(--accent-color-wheat);
}

#personalize {
  color: var(--accent-color-wheat);
  font-size: 30px;
  float: right;
  padding: 12px;
  position: relative;
}

#personalize:hover {
  color: var(--accent-color);
  cursor: pointer;
}

#modal-close-text {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
}

#modal-name-submit {
  padding: 8px;
  font-weight: 700;
  margin-bottom: 12px;
  font-family: var(--t-text);
}

#modal-feedback {
  text-align: center;
  margin-top: 10px;
}
